@import "../../assets/styles/theme.module.scss";

.registrationCard {
  width: 100% !important;
  text-align: left;
  .headerContainer {
    background-color: $secondaryColor !important;
    .header {
      font-family: $headingFont !important;
      color: #ffffff !important;
    }
  }
  .registrationForm {
    .header {
      font-family: $headingFont;
    }
    label,
    .buttons {
      font-family: $bodyFont;
    }
    label {
      color: $accentColor !important;
    }
  }
}
