/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Work+Sans&display=swap");

/* Font Variables */
$headingFont: "Work Sans", sans-serif;
$bodyFont: "PT Sans Narrow", sans-serif;

/* Color Palette */

/* Container background color */
$primaryColor: #b9d6f2;
/* Navbar and Logo color */
$secondaryColor: #007991;

$accentColor: #00a6fb;

/* Border and text color */
$textColor: #222e50;

$buttonColor: #b80c09;

$buttonText: #ffffff;

$darkTextColor: #000000;
